img {
    width: 100px;
}

ul {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: relative;
 height: var(--header-height);
 margin: 1rem;
}

.nav__link {
    color: var(--title-color);
 font-weight: var(--font-semi-bold);
 transition: color 0.4s;
}
.nav__link:hover {
    color: var(--first-color);
   }